@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    list-style: none;
}

.container {
    max-width: 1500px;
    background: #FFFFFF;
}

.padding {
    padding-left: 250px;
    padding-right: 250px;
}

.header {    
    display: flex;
    flex-direction: column;
    gap: 72px;    
}

.header__nav__list {    
    width: 100%;
    position: fixed;        
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.8125rem;       
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
    padding-bottom: 28px; 
    padding-right: 60px;
    color: #000000;
    background-color: #FFFFFF;
}

.list {
    padding-left: 32px;
}

.header__info {
    display: flex;
    justify-content: space-between;
    padding-top: 68px;
    padding-bottom: 68px;
}

.header__info__text {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.header__info__text__title {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.75rem;
    color: #21243D;
}

.header__info__text__description {
    width: 56ch;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header__info__text__button {
    background: #FF6464;
    border-radius: 2px;
    width: 208px;
    height: 48px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: #FFFFFF;
    border: none;
}

.recent-posts {
    background: #EDF7FA;
    padding-top: 6px;
    padding-bottom: 32px;
}

.recente-posts__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 3.75rem;
    color: #21243D;
}

.recente-posts__title__view {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #00A8CC;
}

.recent-posts__cards {
    display: flex;
    justify-content: space-between;
}

.posts--card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px;
}

.posts--card--title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.375rem;
    color: #21243D;
}

.posts--card--info {
    display: flex;   
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #21243D;
}

.posts--card--description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #21243D;
    width: 40ch;
}

.featured-works {
    padding-top: 14px;
    padding-bottom: 32px;    
}

.featured--cards {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0; 
    padding: 30px 0;   
}

.featured--cards--text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.featured--cards--title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.75rem;
    color: #21243D;
}

.featured--cards--infos {
    display: flex;
    gap: 26px;
}

.featured--cards--year {
    width: 62px;
    height: 25px;
    font-weight: 900;
    font-size: 1.125rem;
    text-align: center;
    background: #142850;
    border-radius: 16px;
    color: #FFFFFF;
}

.featured--cards--tag {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8125rem;
    color: #8695A4;
}

.featured--cards--description {
    width: 64ch;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #21243D;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding-top: 134px;
    padding-bottom: 54px;
}

.footer__icons {
    display: flex;
    gap: 34px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #21243D;
}

.arrow-top {
    width: 85px;
    position: fixed;   
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.arrow-top__img {
    width: 100%;
}

.arrow-top:hover {
    animation: up 3s;
}

@keyframes up {
    20% {
        transform: scale(1.3);
    }
}